<div class="all">
  <!-- row1 -->
  <div class="header">
    <div *ngIf="allTime" class="header-icon">
      <mat-icon>info</mat-icon><span>Dashboard Info for All Time</span>
    </div>
    <div *ngIf="!allTime" class="header-icon">
      <mat-icon>info</mat-icon><span>Dashboard Info for {{year}}</span>
    </div>
    <div class="filter-report">
      <!-- buttons -->
      <!-- filter -->
      <button type="button" class="filter" (click)="filterToggle()">
        <mat-icon>filter_alt</mat-icon> Filter
      </button>
      <!-- report -->
      <button type="button" class="report-download">
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <span class="material-symbols-outlined"> cloud_download </span>
        Download Report
      </button>
    </div>
  </div>
  <!-- ===============end of row 1=============================== -->

  <!-- row2 -->
  <div class="table-head-nav" *ngIf="filterstatus">
    <!-- formfield-header -->
    <div class="formfield-header">
      <mat-icon>filter_alt</mat-icon>
      <label class="form-label0">Filter Dashboard by</label>
    </div>

    <!--  formfield-flex-->
    <div class="formfield-flex">
      <!-- formfield-item -->
      <div class="formfield-item">
        <label class="form-label">Country</label>
        <div class="forminput-flex">
          <div class="duration-days1">
            <mat-select
              placeholder="Select"
              [(ngModel)]="country"
              (selectionChange)="applyFilter()"
            >
              <mat-option value="Kenya">Kenya</mat-option>
              <mat-option value="Uganda">Uganda </mat-option>
              <mat-option value="Rwanda">Rwanda</mat-option>
              <mat-option value="Tanzania">Tanzania</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- formfield-item-end -->

      <!-- formfield-item -->
      <div class="formfield-item">
        <label class="form-label">Region</label>
        <div class="forminput-flex">
          <div class="duration-days1">
            <mat-select
              placeholder="Select"
              [(ngModel)]="region"
              (selectionChange)="applyFilter()"
            >
              <mat-option value="Nairobi">Nairobi</mat-option>
              <mat-option value="Kampala">Kampala</mat-option>
              <mat-option value="Burundi">Burundi</mat-option>
              <mat-option value="Mombasa">Mombasa</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- formfield-item-end -->
      <!-- formfield-item -->
      <div class="formfield-item">
        <label class="form-label">Cluster</label>
        <div class="forminput-flex">
          <div class="duration-days1">
            <mat-select
              placeholder="Select"
              [(ngModel)]="cluster"
              (selectionChange)="applyFilter()"
            >
              <mat-option
                *ngFor="let cluster of clusterOptions"
                [value]="cluster.name"
              >
                {{ cluster.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- formfield-item-end -->

      <!-- formfield-item -->
      <div class="formfield-item">
        <label class="form-label">Branch</label>
        <div class="forminput-flex">
          <div class="duration-days1">
            <mat-select
              placeholder="Select"
              [(ngModel)]="country"
              (selectionChange)="applyFilter()"
            >
              <mat-option
                *ngFor="let branch of branchOptions"
                value="branch.branchName"
                >{{ branch.branchName }}</mat-option
              >
            </mat-select>
          </div>
        </div>
      </div>
      <!-- formfield-item-end -->

      <!-- formfield-item -->
      <div class="formfield-item">
        <label class="form-label">Gender</label>
        <div class="forminput-flex">
          <div class="duration-days1">
            <mat-select
              placeholder="Select"
              [(ngModel)]="gender"
              (selectionChange)="applyFilter()"
            >
              <mat-option value="MALE">MALE</mat-option>
              <mat-option value="FEMALE">FEMALE</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- formfield-item-end -->
    </div>
  </div>
   
    <div class="container-fluid row">
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover p-1">
                <div class="box bg-success text-center pt-1 pb-1 ">
                  <h6 class="box text-center card bg-warning text-white p-4">{{ scholarStats.scholarCount }}</h6>
                  <h5 class="font-light text-white">Total Scholars</h5> 
                    <h1 class="font-light text-white"><mat-icon>school</mat-icon></h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover p-1">
              <div class="box bg-transparent text-center pt-1 pb-1 ">
                <h6 class="box text-center card bg-danger text-white p-4">{{ scholarStats.localScholars }}</h6>
                <h4 class="font-light text-black">Local Scholars</h4> 
                  <h1 class="font-light text-black"><mat-icon>man</mat-icon></h1>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover p-1">
            <div class="box bg-secondary text-center pt-1 pb-1 ">
              <h6 class="box text-center card bg-primary text-white p-4">{{ scholarStats.globalScholars }}</h6>
              <h4 class="font-light text-white">Global Scholars</h4> 
                <h1 class="font-light text-white"><mat-icon>woman</mat-icon></h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover p-1">
          <div class="box bg-primary text-center pt-1 pb-1 ">
            <h6 class="box text-center card bg-success text-white p-4">{{ scholarStats.donors }}</h6>
            <h4 class="font-light text-white">Total Donors</h4> 
            <div class="icon">
              <h1 class="font-light text-white"><mat-icon>public</mat-icon></h1>
            </div>          
          </div>        
      </div>
    </div> 
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover p-1">
          <div class="box bg-warning text-center pt-1 pb-1 ">
            <h6 class="box text-center card bg-secondary text-white p-4">{{ scholarStats.tvetScholars }}</h6>
            <h4 class="font-light text-white">Tvet Scholars</h4> 
            <div class="icon">
              <h1 class="font-light text-white"><mat-icon>public</mat-icon></h1>
            </div>          
          </div>        
      </div>
    </div> 
    <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/scholarstable">
      <div class="card card-hover p-1">
          <div class="box bg-danger text-center pt-1 pb-1 ">
            <h6 class="box text-center card bg-transparent text-blacck p-4">{{ scholarStats.localVersity }}</h6>
            <h4 class="font-light text-white">Local University</h4> 
            <div class="icon">
              <h1 class="font-light text-white"><mat-icon>public</mat-icon></h1>
            </div>          
          </div>        
      </div>
    </div>    
  </div> 
  
  <!-- ============================================================================== -->
  
  <!-- cards-container-->
  <div class="card-container">
    <!-- Total Scholars card -->

    <!-- Total Applications card -->
    <!-- <div class="single-card">
      <app-applications-card></app-applications-card>
    </div> -->
    <!-- Total elps card -->

    <!-- Total SWTFs card -->
    <!-- Total Elimu -->
    <!-- Total Tvet -->
    <!-- Total Global -->

    <!-- Total Expenditure card -->
    <!-- <div class="single-card">
      <app-expenditure-card></app-expenditure-card>
    </div> -->
  </div>
  <!-- row 2  graphs container-->
  <div class="graphs-container">
    <!-- awarding status graph -->
    <!-- <div class="graph">
      <app-admin-awarding-status-graph></app-admin-awarding-status-graph>
    </div> -->

    <!-- scholars Category graph -->

    <div class="graph">
      <app-admin-scholar-graph></app-admin-scholar-graph>
    </div>

    <!-- Gender graph -->

    <div class="graph">
      <app-admin-scholargender-graph></app-admin-scholargender-graph>
    </div>

    <!-- wtfs -->
    <div class="graph">
      <app-admin-wtfs-graph></app-admin-wtfs-graph>
    </div>

    <!-- major donors -->
    <div class="graph">
      <app-donor-graph></app-donor-graph>
    </div>

    <!-- minor donors -->
    <div class="graph">
      <app-minor-donors-graph></app-minor-donors-graph>
    </div>
  </div>
</div>
