.table-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
}
.table-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  border-radius: 6px;
}

.table-head-nav {
  margin-top: 15px;
  width: 95%;
  background-color: #eaedf7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  border-radius: 10px;
}
.report-download {
  display: flex;
  align-items: center;
  background-color: #6259ca;
  border: none;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
} //end of row1

.scholar-add {
  display: flex;
  flex-direction: row;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding:1rem;
  div{
    width: 10vw;
    display: flex;
    flex-direction: column;
   
    label{
      color:#6259ca;
    }
    select{
      width: 10vw;
      height: 2rem;
      border-radius: 1rem;
      
      
    }
    
  }

}




.form-field {
  width: 95%;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title {
  margin-top: 1rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;

  h2 {
    color: #6259ca;
    font-size: 14px;
    font-weight: 500;
  }
}
.search {
  display: flex;
  width: 10%;
  align-items: center;
  margin-left: 2%;
  margin-right: 1%;
  gap: 6rem;
  h2 {
    color: #6259ca;
    font-size: 14px;
    font-weight: 500;
  }
}
.mat-mdc-select {
  overflow: hidden;
  width: 100%;
  border: 1px solid #e8e8f7;
  outline: none;
  padding: 0.6rem 0.7rem;
  background-color: #fff;
  border-radius: 7px;
  font-size: 13px;
}

.mat-mdc-select-placeholder {
  font-weight: 400;
  font-size: 13px;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  border-radius: 7px;
  font-size: 13px;
}
::ng-deep::-webkit-scrollbar {
  width: 3px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.mat-mdc-select-value-text {
  font-size: small;
}

.add-applicant {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #6259ca;
  color: white;
  font-size: 20px;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  justify-content: center;
  mat-icon {
    font-size: x-large;
  }
}
.table {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  margin-bottom: 10px;
}
th {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2;
  max-width: 11rem;
}
td {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}
.journey {
  background-color: #eaedf7;
  color: #6259ca;
  border: 0;
  border-radius: 8px;
}
::ng-deep .tooltip {
  font-size: 13px;
}

.profile {
  background-color: rgba(111, 234, 163, 0.2);
  color: #19b159;
  border: 0;
  border-radius: 8px;
  margin-right: 5px;
}
button:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
  font-weight: 500;
  border: 0;
}
::ng-deep mat-mdc-header-cell {
  max-width: 11rem;
}
