.user-profile-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.backimage {
  width: 100%;
  height: 4rem;

  background-image: url("../../../assets/images/profile card.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.user-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -10%;
  background-color: #eaedf7;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    color: #515050;
  }
}

.user-title {
  width: 90%;
  font-size: 14px;
  color: #3c4858;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.details-container {
  width: 80%;
  margin-top: 5px;
  span {
    font-weight: 500;
    font-size: 14px;
    color: #3c4858;
    letter-spacing: 0.2px;
  }
}
.user-details {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: baseline;
  align-items: center;
  gap: 15px;
  .icon {
    display: flex;

    background-color: #eaedf7;
    color: #6259ca;
    width: 40px !important;
    height: 40px;
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 500;
      font-size: 13px;
      color: #3c4858;
      letter-spacing: 0.2px;
    }
    p {
      margin: 0;
      color: #8f8fb1;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.2px;
    }
  }
}

.divider {
  width: 100%;
}
