<div class="maincontainer"  >
  <div class="container">
    <!-- row1 -->
    <div class="row1">
      <div class="row1content">
        <!-- info -->
        <div class="info">
          <p>Software Dev</p>

          <span
            ><mat-icon>location_on</mat-icon>Addis Ababa Road Junction,
            Industrial Area</span
          >
        </div>
        <!-- add button -->
        <div class="addroles">
          <!-- <button (click)="editJob()">Edit Job</button> -->
        </div>
      </div>
    </div>
    <!-- row2------------------------------------- -->
    <div class="row2">
      <div class="col1">
        <div class="companyinfo">
          <div class="logo">
            <img src="../../../assets/images/logoequity.png" />
          </div>
          <div class="companyname">EQUITY BANK NAKURU BRANCH</div>
        </div>
      </div>
      <div class="col2">
        <div class="job-description">
          <div class="description-header"><p>DESCRIPTION</p></div>
          <div class="job-summary">
            <p>Job Summary</p>
            <span>
              A Bank Teller’s primary responsibility is customer service. Bank
              Tellers must be knowledgeable about a range of bank operations and
              be able to answer any questions a customer has.
            </span>
          </div>
          <mat-divider></mat-divider>
          <div class="job-qualification">
            <p>Qualifications & Responsibilities</p>

            <ul>
              <li>
                Process daily client transactions, including deposits,
                withdrawals, money transfers, loan payments, and selling
                cashier’s checks
              </li>
              <li>
                Accurately maintain records of each transaction and ensure all
                documentation and paperwork was in place and within compliance
              </li>
              <li>
                Assist clients with various questions and concerns related to
                their accounts and bank products
              </li>
              <li>
                Help customers open and close checking accounts, credit cards,
                savings accounts, personal loans, and mortgages
              </li>
            </ul>
            <mat-divider></mat-divider>
          </div>
          <div class="job-skills">
            <p>Skills</p>
            <ul>
              <li>Skills Proficiency in using a computer</li>
              <li>Proficiency in Microsoft Office Suite</li>
              <li>Professional attitude and appearance</li>
              <li>Solid written and verbal communication skills</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="detail-card">
          <div class="detail-header"><p>DETAILS</p></div>

          <div class="detail-item">
            <p>Industry:</p>
            <span> Banking</span>
          </div>

          <mat-divider></mat-divider>
          <div class="detail-item">
            <p>Minimum Qualification:</p>
            <span> Degree/ Diploma</span>
          </div>
          <mat-divider></mat-divider>
          <div class="detail-item">
            <p>Employment Type:</p>
            <span> Contract</span>
          </div>
          <mat-divider></mat-divider>
          <div class="detail-item">
            <p>Salary:</p>
            <span> Ksh.60, 000</span>
          </div>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------------->
  </div>
</div>
