<div class="footer">
    <ul class="footer_itm">
        <li>
            <a href="#" class="">Terms and conditions</a>
        </li>
        <li>
            <a href="#" class="">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="">Cookie Policy</a>
        </li>
        <li>
            <a href="#" class="">Contact</a>
        </li>
    </ul>
</div>
<p class="built_itm">
    © 2023 Built by
   <a href="#" class="hover:underline" target="_blank">Emtech Technology</a>
   {{date | date: 'yyyy'}} . All rights reserved.
</p>


