<div class="main-container">
  <div class="form-container">
    <h3>Reset Your Password</h3>
    <form class="password-reset-form" action="">
      <mat-form-field appearance="outline">
        <mat-label for="email">Enter Email</mat-label>
        <input
          matInput
          type="email"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="userEmail"
        />
      </mat-form-field>

      <button mat-raised-button (click)="submit()">Send Rest Link</button>
    </form>
  </div>
</div>
