<div class="leftcard">
  <div class="side-buttons-container">
    <Button
      class="side-buttons"
      routerLink="/sidebarhome/chapterid"
      routerLinkActive="active"
    >
      <mat-icon>groups</mat-icon>
      <p class="btn_list">Chapters</p>
    </Button>

    <Button
      class="side-buttons"
      routerLink="/sidebarhome/hub"
      routerLinkActive="active"
    >
      <mat-icon>groups</mat-icon>
      <p class="btn_list">Hubs</p>
    </Button>

    <Button
      class="side-buttons"
      routerLink="/sidebarhome/events"
      routerLinkActive="active"  
    >
      <mat-icon>event</mat-icon>
      <p class="btn_list">Events</p>
    </Button>

    <Button
      class="side-buttons"
      routerLink="/sidebarhome/activities"
      routerLinkActive="active"
    >
      <mat-icon>precision_manufacturing</mat-icon>
      <p class="btn_list">Activities</p>
    </Button>

    <Button
      class="side-buttons"
      [routerLink]="['/sidebarhome', { outlets: { primary: 'jobs' } }]"
      routerLinkActive="active"
    >
      <mat-icon>key</mat-icon>
      <p class="btn_list">Opportunities</p>
    </Button>
    <Button
      class="side-buttons"
      routerLink="/sidebarhome/people"
      routerLinkActive="active"
    >
      <mat-icon>people</mat-icon>
      <p class="btn_list">People</p>
    </Button>
  </div>
</div>
