.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.card{
    width: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    border: none;
    padding: 1rem;
}
.contacts{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    // margin-bottom: 1rem;
}

.label{
    display: flex;
    flex-direction: column;
    flex: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    font-weight: 300;
}

// .mat-radio-button{
//     user-select: none;
//     background-repeat: no-repeat;
//     display: inline-block;
//     fill: currentColor;
//     height: 24px;
//     width: 24px;
//     overflow: hidden;
// }