
.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 15px;
}
.row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 11px;
}
.row1content {
  width: 95%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.info {
  width: 70%;
  p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0;
    letter-spacing: 0.2px;
    line-height: 1.5;
  }
  span {
    line-height: 1.5;
    color: #8f8fb1;
    font-size: 13px;
    margin-top: 3px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}
.addroles {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    border: 0;
    color: #fff;
    background-color: #6259ca;
    padding: 8px 10px;
    font-weight: 500;
    border-radius: 6px;
  }
}
.table-container {
  width: 98%;
  display: flex;
  background: white;
  margin: 2rem;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-head-nav {
  margin-top: 15px;
  width: 95%;
  background-color: #eaedf7;
  display: flex;
  align-items: center;
  height: 60px;
  gap: 2%;
  border-radius: 10px;
}
.search {
  display: flex;
  align-items: center;
  margin-left: 3%;
  margin-right: 1%;
  gap: 5%;
  h2 {
    color: #6259ca;
    font-size: 14px;
    font-weight: 500;
  }
}
input {
  border: 1px solid #e8e8f7;
  outline: none;
  padding: 0.6rem 0.7rem;
  background-color: #fff;
  border-radius: 7px;
  font-size: 14px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 14px;
}

.add-applicant {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #6259ca;
  color: white;
  font-size: 20px;
  height: 35px;
  width: 35px;
  justify-content: center;
}

.table {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  margin-bottom: 10px;
}
th {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2;
}
td {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}


.profile {
  background-color: rgba(111, 234, 163, 0.2);
  color: #19b159;
  border: 0;
  border-radius: 8px;
  margin-right: 5px;
}
.journey{
  background-color: rgba(111, 234, 163, 0.2);
  color: rgb(201, 47, 47);
  border: 0;
  border-radius: 8px;
  margin-right: 5px;
}



