.container {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // overscroll-behavior-y: contain;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 3px;
}

.submain-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  row-gap:1rem;
  
}
.content-container {
  grid-row: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 0.6rem;
  padding: 1rem;
  // margin-top: 15px;
}
// row 1

.image {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 11px;
  img {
    margin-top: 10px;
    border-radius: 11px;
    // height: 40vh;
    width: auto;
    max-width: 100%;
    max-height: 50vh;
    object-fit: fill;
  }
}

// row2
.iconimage {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
  .iconinfo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
    .mat-icon {
      color: #6259ca;
    }
    span {
      margin: 0;
      line-height: 1.5;
      color: #8f8fb1;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.2px;
    }
  }
}

// row 3

.details {
  width: 100%;
}
.title {
  P {
    margin-top: 10px;
    margin-bottom: 0;
    color: #3c4858;
    font-weight: 500;
  }
}
.description {
  p {
    margin: 0;
    line-height: 1.5;
    color: #8f8fb1;
    font-size: 14px;
    margin-top: 3px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}

.divider {
  width: 100%;
}
