<!-- single  hub card  -->

<div class="chapter-profile-card">
  <!-- background image -->
  <div class="backimage"></div>
  <!-- profile image -->
  <div class="chapter-profile-image">
    <img [src]="imageUrl" />

    <!-- hub title -->
    <div class="chapter-title">
      <span>{{ hubName }}</span>
    </div>

    <!-- mat divider -->
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <!-- chapter details container -->
    <div class="details-container">
      <span>Hub Details</span>
      <!-- chapter details -->
      <div class="chapter-details">
        <div class="icon"><mat-icon>group_outline</mat-icon></div>
        <div class="text">
          <span>Members</span>
          <p>{{ countMembers ? countMembers : 0 }}</p>
        </div>
      </div>
      <!----------------------------------------------------->
      <!-- chapter details -->
      <div class="chapter-details">
        <div class="icon"><mat-icon>info_outline</mat-icon></div>
        <div class="text">
          <span> Hub Description</span>
          <p>{{ hubDescription }}</p>
        </div>
      </div>
      <!----------------------------------------------------->

      <!-- chapter details -->
      <div class="chapter-details">
        <div class="icon"><mat-icon>manage_accounts_outline</mat-icon></div>
        <div class="text">
          <span>Hub Admin</span>
          <p></p>
        </div>
      </div>
      <!----------------------------------------------------->
    </div>
  </div>
</div>
