<div class="all">
  <!-- row 1  cards-->
  <div class="card-container">
    <!-- Total super admin card -->
    <div class="single-card">
      <app-admin-superadmin-card></app-admin-superadmin-card>
    </div>
    <!-- Total branch champion card -->
    <div class="single-card">
      <app-admin-branch-champion-card></app-admin-branch-champion-card>
    </div>
    <!-- Total chapter admin card -->
    <div class="single-card">
      <app-admin-chapterleader-card></app-admin-chapterleader-card>
    </div>
  </div>
  <!-- row 2  table container-->
  <div class="table-main-container">
    <div class="table-container">
      <app-admin-table></app-admin-table>
    </div>
  </div>
</div>
