.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #eaedf7;
}
.user-profile-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  margin: auto auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
/*row 1 personal info*/
.personal-info-containter {
  display: flex;
  height: 40vh;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
a {
  color: #515050;
}
a:hover {
  color: #a32a29;
}
.user-info {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.profile-image {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: #eaedf7;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      font-size: 60px;
      color: #515050;
    }
  }
}

.add-edit {
  display: flex;
  width: 100%;
  margin-top: 1%;
  justify-content: right;

  .edit {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: 1px;*/
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
  .add {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 10px;*/
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
  .view {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
}

.profile-pic-edit {
  display: flex;
  width: 100%;
  margin-top: 1%;
  /* margin-left: 5%;*/
  justify-content: center;

  .edit {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
  .add {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
  .view {
    background-color: #eaedf7;
    color: #6259ca;
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;
    }
  }
}

.user-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto 0;
  //   align-items: center;
  .h-line {
    display: flex;
    justify-content: left;
    width: 30%;
  }
  hr {
    align-self: left;
    color: #acabab;
    width: 100%;
  }
}
.user-title {
  p {
    color: #a32a29;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }
  span {
    display: flex;
    flex-direction: column;
    color: #3c4858;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
  }
}

.user-contacts {
  display: flex;
  flex-direction: column;
}
.contact-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin: 10px 0 0;
  color: #3c4858;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  span {
    color: #8f8fb1;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}
.v-line {
  height: 50%;
  margin: auto 0;
  border-left: 1px solid #acabab;
}

.user-details-cont {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto 0;
  margin-top: 60px;
  //   align-items: center;
  .h-line {
    display: flex;
    justify-content: left;
    width: 30%;
  }
  hr {
    align-self: left;
    color: #acabab;
    width: 100%;
  }
}
.user-social-links {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  a {
    text-decoration: none;
  }
}
.social-link {
  width: 50%;
  color: #3c4858;
  font-size: 14px;
  display: flex;
  justify-content: left;
  font-weight: 500;
  line-height: 24px;
  gap: 7%;
  margin-bottom: 10px;
}
.social-link-add-edit {
  width: 100%;
  display: flex;
  justify-content: right;
  font-style: normal;

  line-height: 24px;
}
.social-link:hover {
  transform: translateY(-2px);
  cursor: default;
}
// row 2 tabs
.card-tab-container {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.single-card-tab {
  background-color: white;
  width: 25%;
  border: 1px solid #dee2e6;
}
.single-card-tab:focus {
  .tab-content {
    color: #a32a29;
    border-bottom: 3px solid #a32a29;
    .tab-text {
      color: #a32a29;
      cursor: default;
    }
  }
}
.tab-content {
  color: #3c4858;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tab-content:hover {
  color: #a32a29;
  border-bottom: 3px solid #a32a29;
  .tab-text {
    color: #a32a29;
    cursor: default;
  }
}
.tab-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

// row 3 tab body
.tab-body {
  background-color: white;
  border-radius: 11px;
  margin-bottom: 50px;
  height: 35vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 3px;
}
