<div class="survey-container">
  <div class="survey-header">
    <h2>SURVEY</h2>
  </div>
  <form [formGroup]="surveyform" (ngSubmit)="sendSurvey()">
    <div class="form-group">
    
      <mat-select class="select" formControlName="institutional" placeholder="Institutional Recipient">
        <mat-option  *ngFor="let institution of institutional" [value]="institution">{{ institution.chapterName }}</mat-option>
      </mat-select>

      <mat-select class="select" formControlName="regional" placeholder="regional Recipient">
        <mat-option  *ngFor="let region of regional" [value]="region">{{ region.chapterName }}</mat-option>
      </mat-select>

      <input type="text" class="subject" placeholder="Subject" formControlName="subject" />
      <textarea class="message" placeholder="Your message..." formControlName="message"></textarea>
      <button type="submit">Send Survey</button>
    </div>
  </form>
</div>
