.side-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
a {
  text-decoration: none;
}
.side-buttons {
  display: flex;
  align-items: center;

  gap: 15px;
  color: #757575;
  width: 90%;
  margin-left: 10%;
  height: 10%;
  background: #0e0e23;
  border: none;
  padding: 15px 0px;
  span {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    transition: margin-left 0.45s ease;
    transition-duration: 0.45s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: margin-left;
  }
}

.side-buttons:hover {
  color: #fff;
  span {
    margin-left: 10px;
  }
}
.side-buttons:focus {
  color: #fff;
  span {
    margin-left: 10px;
  }
}

.mat-expansion-panel {
  background-color: #0e0e23;
}
.mat-expansion-panel-header-title {
  color: #757575;
  background: #0e0e23;
  border: none;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  span {
    font-size: 14px;
    font-weight: 500;
  }
}
::ng-deep .mat-expansion-indicator::after {
  color: #757575;
}

.mat-expansion-panel-header-title:hover {
  color: white;
}
