<div class="row">
    <div class="col-lg-3 col-sm-6" >
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Total Accounts</h4>
          <h2 class="text-end">
            <span class="float-start"></span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Total Active Users</h4>
          <h2 class="text-end">
            <span class="float-start"></span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Locked Accounts</h4>
          <h2 class="text-end">
            <span class="float-start"></span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" >
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Deleted Accounts</h4>
          <h2 class="text-end">
            <span class="float-start"></span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
  </div>
