.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
 
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    background-color: #f8f8f8; /* Light background color */
    padding: 21px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  form{
    display: flex;
    height: 80vh;
    overflow-y: scroll;
  }

  }
.main-cont{
 
    position: absolute;
    left: 0;
    right: o;
    bottom: 0;
    top: 0;
    
}
.form-div{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     .form-btn{
        background:#fff ;
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
     }
     
}
form{
   
   
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    margin-bottom: 10px; /* Spacing between input elements */
    padding: 10px; /* Padding for input elements */
    border-radius: 5px;
    border: 1px solid #ccc; /* Light border color */
    background-color: #fff; /* White background color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}   
textarea{
    width: 100%;
    margin-bottom: 10px; /* Spacing between input elements */
    padding: 10px; /* Padding for input elements */
    border-radius: 5px;
    border: 1px solid #ccc; /* Light border color */
    background-color: #fff; /* White background color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */

}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #66afe9; /* Highlight border color on focus */
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(37, 3, 129); /* Green button color */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button color */
  }
  
  .form-container button:hover {
    background-color:rgb(37, 3, 129); /* Darker green on hover */
  }

