<div class="container">
  <div class="content-container">
    <!-- row1 -->
    <!-- title -->
    <div class="title">
      <p>Recent Activities</p>
    </div>

    <!-- row2 -->
    <div class="details">
      <!-- description -->
      <div class="description">
        <div class="chapter-profile-image">
          <img src="assets/images/face.png" />
        </div>
        <p>Engineering</p>
      </div>
      <!-- total number -->
      <div class="numbers">
        <p>10 Members</p>
      </div>

      <!-- date -->
      <div class="date">
        <p>13 Monday,July 2023</p>
      </div>
      <!-- activity name -->
      <div class="activity-name">
        <p>Activity Name:<span>Team Building</span></p>
      </div>
    </div>
    <!---------------------------------------------------->

    <!-- row2 -->
    <div class="details">
      <!-- description -->
      <div class="description">
        <div class="chapter-profile-image">
          <img src="assets/images/face.png" />
        </div>
        <p>Engineering</p>
      </div>
      <!-- total number -->
      <div class="numbers">
        <p>150 Members</p>
      </div>

      <!-- date -->
      <div class="date">
        <p>13 Monday,July 2023</p>
      </div>

      <!-- activity name -->
      <div class="activity-name">
        <p>Activity Name:<span>Team Building</span></p>
      </div>
    </div>

    <!---------------------------------------------------->
  </div>
</div>
