.all-content {
  margin-top: 7.5%;
  width: 100%;
}

mat-sidenav{
  top: 0;
  width: 12rem;
  border-right: none;
  background: #0e0e23;
  color: #757575;
  text-align: center;

  .sidenav-header {
    border-bottom: 1px solid rgba(240, 240, 255, 0.1);

    // img {
    //   width: 80%;
    // }
  }
}

.mat-sidenav-container {
  height: 100vh;
  background-color: #eaedf7;
  width: 100%;
  overflow: hidden;
}
img{
  height:10vh;
  width: 50%;
  background: rgb(255, 255, 255);
  margin-bottom: 3px;
}
