.cards-total-WTFs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 11px;
}
.title {
  color: #3c4858;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.138px;
  padding: 5px 0px;
}
.details {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #eaedf7;

  mat-icon {
    color: #6259ca;
  }
}
