.single-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 11px;
  }
  .graph-body {
    width: 90%;
    height: 90%;
  }
  .graph-title {
    height: 10%;
  
    h6 {
      font-size: 14px;
      letter-spacing: 0.2px;
      margin: 0;
      color: #000;
    }
    p {
      color: #8f8fb1;
      font-size: 13px;
      margin-top: 3px;
      font-weight: 500;
    }
  }
  .graph {
    height: 80%;
    width: 100%;
    overflow: auto;
  }
  